@config "../tailwind.config.js";
@import "tailwindcss";

:root{
  --bg-color: white;
  --text-color: black;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark-theme {
  --bg-color: #09090b;
  --text-color: white;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.navbar {
  background-color: var(--bg-color);
  color: var(--text-color);
}
